<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710607173484-e9s7qmq6tld352fjevggbdkrvjjsr0b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710607173484-e9s7qmq6tld352fjevggbdkrvjjsr0b9</string>
	<key>API_KEY</key>
	<string>AIzaSyB_nErUVkzvyiKPAJS4TMGQKjVdUNmmv0M</string>
	<key>GCM_SENDER_ID</key>
	<string>710607173484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.Gallery</string>
	<key>PROJECT_ID</key>
	<string>youroute-version2</string>
	<key>STORAGE_BUCKET</key>
	<string>youroute-version2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710607173484:ios:f54b6d5f35873e4f08e549</string>
	<key>DATABASE_URL</key>
	<string>https://youroute-version2.firebaseio.com</string>
</dict>
</plist>